<header>
  <form class="search-form" id="search-form">
    <input
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="submit-btn" type="submit">
      <svg class="submit-icon">
        <use href="./images/search-icon.svg#icon-search"></use>
      </svg>
    </button>
  </form>
</header>
<body>
  <div class="gallery">
    <!-- Карточки изображений -->
  </div>
  <button type="button" class="load-more is-hidden">Load more</button>
</body>
